.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# sbteclipse plugin
.target

node_modules/
.idea/



Uploads/*

# exception to the rule
!Uploads/README.md

public/vowl/data/*

# exception to the rule
!public/vowl/data/foaf.json
