extends bdi_layout

block content
    .container-fluid
        .jumbotron
            h1.display-4 BDI: Big Data Integration
            p.lead
                | Integration of heterogeneous data sources
            //p.lead
              | This work is partly supported by the H2020 SUPERSEDE project, funded by the EU Information and
              Communication Technologies Programme under grant agreement no 644018, and the GENESIS project,
              funded by the Spanish Ministerio de Ciencia e Innovación under project TIN2016-79269-R.
              .row.justify-content-center
                .col-4(style="padding-top: 50")
                  img(src="public/cropped-SupersedeLogo_outline.png" height="45")
                .col-4
                  img(src="public/genesislogo.png" height="150")
